@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Pathway+Gothic+One&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background: radial-gradient(circle, #6a040f 30%, #370617 71%, #03071e 100%);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #03071e;
  border-radius: 20px;
  background-color: #d00000;
  width: 22rem;
  height: 18rem;
  border: 2px solid #03071e;
}

main .conteudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 18.5rem;
  height: 100%;
}

main .conteudo h1 {
  font-size: 1.75rem;
  color: #f48c06;
  text-transform: uppercase;
  font-family: "Fredericka the Great";
}

main .conteudo input {
  width: 100%;
  height: 2.5rem;
  border: 0.1rem solid #03071e;
  text-align: center;
  font-size: 0.9rem;
}

main .conteudo input:nth-child(1) {
  border-radius: 6px 6px 0px 0px;
}

main .conteudo input:nth-child(3) {
  border-radius: 0px 0px 6px 6px;
}

main .conteudo .calcular {
  border: 1px solid #03071e;
  border-radius: 20px;
  background-color: #d00000;
  border-radius: 6px;
  height: 3.1rem;
  cursor: pointer;
  background-color: white;
}

main .conteudo .calcular:hover {
  background-color: #dfdfdf;
  -webkit-transition: 1s;
  transition: 1s;
}

main .conteudo #resultado2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 0%;
  height: 0rem;
  font-size: 1.65rem;
  color: #03071e;
  font-family: "Pathway Gothic One";
}

main .conteudo #resultado2 #resultado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 100%;
}

@media (max-width: 450px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #03071e;
    border-radius: 20px;
    background-color: #d00000;
    width: 19rem;
    height: 19.5rem;
    border: 2px solid #03071e;
  }
  main .conteudo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 15.5rem;
    height: 17.5rem;
  }
  main .conteudo h1 {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #f48c06;
    text-transform: uppercase;
    font-family: "Fredericka the Great";
  }
  main .conteudo input {
    height: 2.5rem;
    border: 0.1rem solid #03071e;
    text-align: center;
    font-size: 0.9rem;
  }
  main .conteudo .calcular {
    border: 1px solid #03071e;
    border-radius: 20px;
    background-color: #d00000;
    border-radius: 6px;
    height: 3.1rem;
    cursor: pointer;
    font-size: 0.9rem;
    background-color: white;
  }
  main .conteudo .calcular:hover {
    background-color: lightgray;
    -webkit-transition: 1s;
    transition: 1s;
  }
  main .conteudo #resultado2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 0%;
    height: 0rem;
    font-size: 1.6rem;
    color: #03071e;
    font-family: "Pathway Gothic One";
  }
  main .conteudo #resultado2 #resultado {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 200px;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */